name: SonarQube Scan

on:
  push:
    branches:
      - ANGADI-STAGE
  pull_request:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      # Optional: Build (helps Sonar detect issues better)
      - name: Build Angular
        run: npm run build --if-present

      - name: Sonar Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          npm install -g sonar-scanner
          sonar-scanner \
            -Dsonar.projectKey=Angadi-Frontend \
            -Dsonar.host.url=https://sonar.cprogrammer1209.shop/ \
            -Dsonar.login=$SONAR_TOKEN
